<div class="dashboardStories container">
<h3>Story Dashboard</h3>

<a class="newStoryBtn" href="/story/new"><button class="btn btn-success btn-large"> New Story </button></a>

  <%- partial('../globalPartials/listStories.ejs')%>
  	
</div>